.UserSearchForm {
  display: flex;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #F5F5F5;
}

.UserSearchForm__search {
  width: 100%;
  flex: 1;
}

.UserSearchForm__submit {
  margin-left: 20px;
}