*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', "Helvetica", sans-serif;
  min-height: 100vh;
  padding-bottom: 90px;
  position: relative;  
  background: #F5F5F5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.AppMain {
  padding: 20px 0;
}