.UserListDisplay {
  margin-top: 20px;
  text-align: right;
  padding: 0;
}

.UsersListDisplay__btn {
  margin-left: 10px;
  border: 1px solid transparent;
  background-color: transparent;

  color: #F5F5F5;
  font-size: 20px;
}

.UsersListDisplay__btn:hover {
  background-color: #F5F5F5;
  color: #263238;
}

.UsersListDisplay__btn--active {
  background-color: #F5F5F5;
  color: #263238;
}